<!DOCTYPE html>
<html>

<head>
    <title>Connexion</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
  <section id="section-login" class="hero is-fullheight">
    <div id="hero-body-form" class="hero-body">
        <h1 class="title">Gestion des heures d'enseignement</h1>
        <% if (typeof errors !== "undefined") { %>
          <article class="message is-danger">
            <div class="message-header">
              <p>Erreurs dans le formulaire</p>
            </div>
            <div class="message-body message-errors">
              Veuillez verifier les champs suivants:
              <ul>
                <% for (let i=0; i < errors.length; i++) { %>	
                  <li><%= errors[i].msg%></li>
                <%}%>
                </ul>                
            </div>
          </article>
        <%}%>
        <form action="/login" method="post">
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input class="input" name="email" type="email" placeholder="Email" value="<%= (typeof old !== "undefined") ? old.email : '' _%> ">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" name="password" type="password" placeholder="Mot de passe">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <div class="field">
                <p class="control">
                  <input type="submit" class="button has-background-light" value="Connexion">
                </p>
              </div>
        </form>
    </div>
  </section>
</body>

</html>