<% layout("template.ejs") %>
<div id="remove-modal" class="modal">
    <div class="modal-background" onclick="closeModals()"></div>
    <div class="modal-card">
    <header class="modal-card-head">
        <p class="modal-card-title">Retirer un intervenant</p>
        <button class="delete" aria-label="close" onclick="closeModals()"></button>
    </header>
    <section class="modal-card-body">
        <div class="content">
            <h6>Voulez-vous vraiment supprimer cet intervenant du projet ?</h6>
            <p><i class="fas fa-exclamation-triangle"></i> Tous les volumes du projet liés à cet intervenant seront supprimés <i class="fas fa-exclamation-triangle"></i></p>
        </div>
    </section>
    <footer class="modal-card-foot">
        <div id="button-remove-container" style="margin-right: 5px;"></div>
        <button class="button" onclick="closeModals()">Annuler</button>
    </footer>
    </div>
</div>
<div id="list-modal" class="modal">
    <div class="modal-background" onclick="closeModals()"></div>
    <div class="modal-card" style="width: max-content; max-width: 100%;">
    <header class="modal-card-head">
        <p class="modal-card-title">Liste des enseignants</p>
        <button class="delete" aria-label="close" onclick="closeModals()"></button>
    </header>
    <section class="modal-card-body">
        <div class="content">
            <div class="tab-search">
                <div class="field has-addons" style="justify-content: center;">
                    <p class="control">
                      <span class="select">
                        <select id="select-search" onchange="searchTable()">
                            <option value="last_name">Nom</option>
                            <option value="first_name">Prénom</option>
                            <option value="nickname">Surnom</option>
                            <option value="status">Statut</option>
                        </select>
                      </span>
                    </p>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input" id="input-search" type="text" placeholder="Recherche..." onkeyup="searchTable()">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </p>
                </div>            
            </div>
            
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Surnom</th>
                            <th>H obligatoires</th>
                            <th>H supplémentaires</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-unused">
                    </tbody>
                </table>
    </section>
    <footer class="modal-card-foot">
        <button class="button" onclick="closeModals()">Fermer</button>
    </footer>
    </div>
</div>
    <input type="hidden" id="project-id" value="<%= project._id %>">
    <div class="text-content">
        <h2 class="title has-text-centered">Liste des intervenants</h2>
        <div class="btn-center">
            <button class="button is-primary" onclick="openListTeachersModal()">Ajouter des intervenants</button>
        </div>
        <div class="tab-search">
            <div class="field has-addons" style="justify-content: center;">
                <p class="control">
                  <span class="select">
                    <select id="select-search-1" onchange="searchTable('select-search-1','input-search-1')">
                        <option value="last_name_1">Nom</option>
                        <option value="first_name_1">Prénom</option>
                        <option value="nickname_1">Surnom</option>
                        <option value="status_1">Statut</option>
                    </select>
                  </span>
                </p>
                <p class="control has-icons-left has-icons-right">
                    <input class="input" id="input-search-1" type="text" placeholder="Recherche..." onkeyup="searchTable('select-search-1','input-search-1')">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </p>
            </div>            
        </div>
        <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Surnom</th>
                        <th>H obligatoires</th>
                        <th>H supplémentaires</th>
                        <th>Statut</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="tbody-used">
                
                </tbody>
        </table>
        </div>
    </div>


<% block('script').append('<script src="/js/project_speakers.js"></script>') %>