.content-full{
    .sub-content{
        .columns{
            margin-top: 15px;
        }
        .column-content{
            border-radius: 4px;
            text-align: center;
            padding: 1rem 0 1rem 0;
            background: linear-gradient(-30deg, #0aceaf, #44dfc7 45%, #0aceaf 45%) #0aceaf;
            color: white;
            &:hover{
                i{
                    animation: rotating 0.5s;
                }
            }
            .title{
                color: white;
                margin-bottom: 0;
            }
            ul{
                list-style-type: disc;
                height: 150px;
                overflow-y: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}
@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0deg);
    }
}