<% layout("template.ejs") %>
    <div class="text-content">
        <h2 class="title has-text-centered">Introduction</h2>
        <p class="has-text-centered has-text-justified">
            L’application permet de saisir les heures annuelles faîtes par des enseignants et d’en faire un bilan global. 
            Pour cela l'application permet de représenter la hiérarchie organisationnelle des formations.
            Puis chaque projet (representant une année) sera composé de formations regroupants des périodes. 
            Ces périodes seront ensuite découpées en plusieurs semaines pour lesquelles il
            faudra saisir le nombre d'heures par groupe ainsi que le nombre de groupes par enseignant et par matière pour 
            les matières ayant un type de saisie hebdomadaire. Pour les matières ayant un type de saisie globale, il faudra
            il faudra attribuer des forfaits et des volumes pour chaques enseignant.
        </p>
    </div>
    <div class="text-content">
        <h2 class="title has-text-centered">Tableau de bord</h2>
        <div class="columns">
            <div class="column">
                <div class="column-content">
                    <h3 class="title"><i class="fas fa-graduation-cap"></i>Projets</h3>
                    <ul>
                        <li>Gestion des formations</li>
                        <li>Saisie des heures</li>
                        <li>Bilans des heures</li>
                    </ul>
                    <a class="button" href="/projets">Afficher</a>
                </div>
            </div>
            <div class="column">
                <div class="column-content">
                    <h3 class="title"><i class="fas fa-network-wired"></i>Décompositions</h3>
                    <ul>
                        <li>Gestion de la structure des formations</li>
                    </ul>
                    <a class="button" href="/decompositions">Afficher</a>
                </div>
            </div>
            <div class="column">
                <div class="column-content">
                    <h3 class="title"><i class="fas fa-user"></i>Enseignants</h3>
                    <ul>
                        <li>Gestion des status d'enseignant</li>
                        <li>Gestion des enseignants</li>
                    </ul>
                    <a class="button" href="/enseignants">Afficher</a>
                </div>
            </div>
          </div>
    </div>
    